FORMAT: X-1A
HOST: http://api-beta.ly.g0v.tw

# TW ly api v0
online test of [beta API](http://api-beta.ly.g0v.tw)
This is beta version of api.ly.g0v.tw. Written in [apiblueprint](http://apiblueprint.org/) by [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax.

# GET /v0/
Show specific version of API.
+ Response 200 (application/json)

# GET /v0/collections/
List all avaible collection of current version.
+ Response 200 (application/json)

# Group ivod
This is the api group of ivod (影片)

## GET /v0/collections/ivod/
Try: http://api-beta.ly.g0v.tw/v0/collections/ivod/ 
+ Response 200 (application/json)

# Group calendar
This is the api group of calendar (行程)

## GET /v0/collections/calendar/
Try: http://api-beta.ly.g0v.tw/v0/collections/calendar/ 
+ Response 200 (application/json)

# Group motions
This is the api group of motions (議案)

## GET /v0/collections/motions/
Try: http://api-beta.ly.g0v.tw/v0/collections/motions/ 
+ Response 200 (application/json)

# Group bills
This is the api group of bills (提案)

## GET /v0/collections/bills/
Try: http://api-beta.ly.g0v.tw/v0/collections/bills/ 
+ Response 200 (application/json)

### GET /v0/collections/bills/{bill_id}/
Try: http://api-beta.ly.g0v.tw/v0/collections/bills/1021021070200400/ 
+ Response 200 (application/json)

#### GET /v0/collections/bills/{bill_id}/data
Try: http://api-beta.ly.g0v.tw/v0/collections/bills/1021021070200400/data 
+ Response 200 (application/json)

#### GET /v0/collections/bills/{bill_id}/doc
Try: http://api-beta.ly.g0v.tw/v0/collections/bills/1021021070200400/doc 
+ Response 200 (application/json)

#### GET /v0/collections/bills/{bill_id}/motions
Try: http://api-beta.ly.g0v.tw/v0/collections/bills/1021021070200400/motions 
+ Response 200 (application/json)

# Group sittings
This is the api group of sittings (會議)

## GET /v0/collections/sittings/
Try: http://api-beta.ly.g0v.tw/v0/collections/sittings/ 
+ Response 200 (application/json)

### GET /v0/collections/sittings/{id}/
Try: http://api-beta.ly.g0v.tw/v0/collections/sittings/08-04-YS-06/ 
+ Response 200 (application/json)

#### GET /v0/collections/sittings/{id}/dates
Try: http://api-beta.ly.g0v.tw/v0/collections/sittings/08-04-YS-06/dates 
+ Response 200 (application/json)

#### GET /v0/collections/sittings/{id}/videos
Try: http://api-beta.ly.g0v.tw/v0/collections/sittings/08-04-YS-06/videos 
+ Response 200 (application/json)

#### GET /v0/collections/sittings/{id}/motions
Try: http://api-beta.ly.g0v.tw/v0/collections/sittings/08-04-YS-06/motions 
+ Response 200 (application/json)

